<form class="form-horizontal" role="form" >
    <div class="form-group">
        <label for="inputFullNamePatient" class="col-sm-2 control-label">Pacjent: </label>
        <div class="col-sm-6">
            <span class="form-control">{{appointment.patient.name + " " + appointment.patient.lastName + " [" + appointment.patient.pesel + "]"}}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputFullNameDoctor" class="col-sm-2 control-label">Imie i nazwisko lekarza: </label>
        <div class="col-sm-6">
            <span class="form-control">{{appointment.doctor.name + " " + appointment.doctor.lastName + " [" + appointment.doctor.login + "]"}}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputOffice" class="col-sm-2 control-label">Gabinet: </label>
        <div class="col-sm-6">
            <span class="form-control">{{appointment.office.number}}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDate" class="col-sm-2 control-label">Data wizyty: </label>
        <div class="col-sm-6">
            <span class="form-control">{{appointment.date | dateFilter}}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTime" class="col-sm-2 control-label">Godzina wizyty: </label>
        <div class="col-sm-6">
            <span class="form-control">{{myInput.time}}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputStatus" class="col-sm-2 control-label">Status wizyty: </label>
        <div class="col-sm-6">
            <span class="form-control">{{appointment.status}}</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="button" ng-show="access" ng-click="edit()" class="btn btn-default">Edytuj</button>
            <button type="button" ng-click="back()" class="btn btn-default">Cofnij</button>
        </div>
    </div>
</form>